<div class="container index d-flex justify-content-center">
<% if @user.sneakers.count == 0 %>
  <h2 class= "d-flex justify-content-center title-show-user">Closet</h2>
    <div class="d-flex justify-content-center">
      <div class="button-add text-center">
        <div class="text-center" style= "opacity: 0.5">
          <p>Empty Rack 👀.</p>
          <p>Add your first sneaker to your rack.</p>
        </div>
        <% if policy(Sneaker).create? %>
          <%= link_to new_sneaker_path do %>
            <i class="fas fa-plus-circle add"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
      <%= image_tag "banner.jpg", class: "closet animated zoomIn" %>
      <div class="buttonadd text-center">
        <% if policy(Sneaker).create? %>
          <%= link_to new_sneaker_path do %>
            <i class="fas fa-plus-circle add"></i>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <div class="cards">
          <% @user.sneakers.each do |sneaker| %>
            <div class="img-cards" id="@">
              <h2 style="text-align: center;"><%= sneaker.name%></h2>
              <%= cl_image_tag sneaker.photo, class: "img-show-sneaker" %>
              <p>description</p>
              <p style="text-align: center; opacity: 0.5;"><%= truncate(sneaker.description, length: 100, omission: " ...read more")%></p>
              <!-- To DO read more link for description after design -->
              <div class="brand d-flex justify-content-around">
                <p>uk <%= sneaker.size %></p>
                <p><%= sneaker.brand %></p>
                <p>£<%= sneaker.price_per_sneaker %></p>
              </div>
              <div class="icons d-flex justify-content-around">

                  <%= link_to edit_sneaker_url(sneaker) do %>
                    <i class="fas fa-edit"></i>
                  <% end %>


                  <%= link_to sneaker_path(sneaker), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>

              </div>
            </div>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
