<% if user_signed_in? %>
  <div class="container">
      <nav class="navbar navbar-light d-flex justify-content-between">
        <div class="title-tag">
          <%= link_to "SnkRack", root_path, class:"tag" %>
        </div>
        <div class="avatar-search d-flex ">
          <div class="new-search d-flex">
            <%= form_tag sneakers_path, method: :get, class: "form search-skills" do %>
              <%= text_field_tag :query,
                params["query"],
                class: "form-control search",
                placeholder: "Search Brand"
              %>
            <% end %>
<!--             <div class="icon-search">
              <i class="fas fa-search"></i>
            </div> -->
          </div>
          <div class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Edit", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
            <%= image_tag "avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </div>
        </div>
      </nav>
  </div>
<% else %>
  <div class="navbar-home d-flex justify-content-center h-200">
    <%= link_to "SnkRack", root_path, class:"tag" %>
  </div>
<% end %>
