<% if user_signed_in? %>
<!-- DESIGN LANDING PAGE -->
  <div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
    <body class="homepage">
      <div class="white container">
      </div>

      <div class="container">
        <div class="section1 d-flex justify-content-between">
          <div class="content animated fadeInLeft">
            <h1>CREATE YOUR “SNEAKERS CLOSET”</h1>
            <p class="margin">CREATE.EDIT.DELETE.</p>
            <p style="width: 500px;"><b>100% free.</b>
            save the sneakers you love to the rack clicking on the botton or check our store if you miss a drop.
            </p>
            <%= link_to "Rack", current_user, class: "btn btn-home button" %>
          </div>
          <div class="iphone">
            <%= image_tag "jordanunc.jpg", class: "iphonex animated zoomIn" %>
          </div>
        </div>
        <div class="section2 d-flex ">
          <div class="imagebig">
            <%= image_tag "homebig.jpg", class: "homebig animated zoomIn" %>
          </div>
          <div class="content-2">
            <h1>Did you miss a drop ?</h1>
            <p class="drop">
              Hi, sneakers are my biggest passion. I created this app where you can save all
              your favorite sneakers to a virtual rack; and if you missed a drop, you can also purchase them here.
              Check the store out
            </p>
            <p>Check our store 👍</p>
            <%= link_to "coming soon", snkshops_path, class: "btn btn-2home" %>
<!--             <%= link_to "Store", snkshops_path, class: "btn btn-2home" %> -->
          </div>
        </div>
      </div>

    </body>
  </div>
<% else %>
<!-- Sign UP / Log IN page -->
  <div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
    <body class="homepage">
      <div class="white container">
      </div>

      <div class="container">
        <div class="banner d-flex">
          <div class="animated fadeInLeft description-buttons d-flex">
            <div class="content-description text-left">
              <p>
                <span id="banner-typed-text"></span>
              </p>
              <h1>Jordan 1 Retro High Off-White University Blue 🏀</h1>
              <h3>Time for some Tobacco Road vibes with these Jordan 1 Retro Off-Whites. Also known as the “UNC” editions, these Jordan 1s are the third colorway designed by Virgil Abloh and made in collaboration with his Off-White label.</h3>
              <p>The sneakers come in a white, dark powder blue and cone colorway, with a white and blue deconstructed leather upper and Off-White detailing throughout. If you’re a fan of Virgil Abloh’s work and want to rep Off-White, this pair is another must-have 🤝.</p>
            </div>
            <div class="d-flex flex-column">
              <p class="sign-log">Please Log in or Sign up to have access to your rack</p>
              <div class="buttons d-flex justify-content-between">
                <%= link_to "Login", new_user_session_path, class: "btn btn-home" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-home" %>
              </div>
            </div>
          </div>

          <div class="images">
            <div class="d-flex">
              <div class="jordan1 d-flex">
                <%= image_tag "jordan3.jpg", class: "animated zoomIn image image-1" %>
                <%= image_tag "jordan4.jpg", class: "animated zoomIn image image-2" %>
              </div>
              <div class="jordan2 d-flex">
                <%= image_tag "jordan1.jpg", class: "animated zoomIn image image-3" %>
                <%= image_tag "jordan2.jpg", class: "animated zoomIn image image-4" %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
  </div>
<% end %>














