<div class="container">
  <div class="row justify-content-center">
    <h1>Purchase of sneaker <%= @order.snkshop_sku %></h1>

        <div class="form-payment">
          <%= form_tag order_payments_path(@order) do %>
            <article>
              <label class="amount">
                <span>Amount: <%= humanized_money_with_symbol(@order.amount) %></span>
              </label>
            </article>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="My Sneaker"
              data-email="<%= current_user.email %>"
              data-description="Sneaker <%= @order.snkshop_sku %>"
              data-amount="<%= @order.amount_cents %>"
              data-currency="<%= @order.amount.currency %>">
            </script>

          <% end %>
        </div>
  </div>
</div>
