<div class="container">
  <div class="row">
    <div class="col">
      <%= simple_form_for @sneaker do |f| %>
        <%= f.input :name, placeholder: "Sneaker Name" %>
        <%= f.input :description, as: :text %>
        <%= f.input :brand %>
        <%= f.input :price_per_sneaker, placeholder: "Price £" %>
        <%= f.input :size, placeholder: "Size in UK" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.button :submit, class: "btn-primary btn-home" %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary btn-home" %>
      <% end %>
    </div>
  </div>
</div>
