<div class="main-form d-flex">
  <div class="image-login">
    <%= image_tag "poster.jpg", class: "image-signup1" %>
  </div>
  <div class="form-signup">
    <h2 class="text-center">Sketch in some sneakers</h2>
    <p>add sneakers through this form and go back to see how your rack appears.</p>
      <%= simple_form_for @sneaker do |f| %>
        <%= f.input :name, placeholder: "" %>
        <%= f.input :description, as: :text, placeholder: "" %>
        <%= f.input :brand, placeholder: "" %>
        <%= f.input :price_per_sneaker, placeholder: "" %>
        <%= f.input :size, placeholder: "" %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <hr>
        <div class="form-actions-signup">
          <%= f.button :submit, "add sneaker", class: "btn btn-home" %>
        </div>
      <% end %>
  </div>
</div>





