<div class="container">
  <div class="row">
    <div class="col add-form">
      <%= simple_form_for @sneaker do |f| %>
        <%= f.input :name, placeholder: "Sneaker Name..." %>
        <%= f.input :description, as: :text, placeholder: "Description Sneaker..." %>
        <%= f.input :brand, placeholder: "Brand and collaborator" %>
        <%= f.input :price_per_sneaker, placeholder: "Price £..." %>
        <%= f.input :size, placeholder: "Size in UK..." %>
        <%= f.input :link, placeholder: "StockX link..." %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <hr>
        <div class="buttons-new d-flex justify-content-between">
          <%= f.button :submit, class: "btn btn-form" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn btn-form" %>
        </div>
      <% end %>
    </div>
  </div>
</div>




