<div class="container">
  <div class="row">
    <div class="col">
      <div class="col-12">
        <div class="d-flex justify-content-center">
          <%= cl_image_tag @sneaker.photo, class: "img-show-sneaker" %>
        </div>
        <h2><%= @sneaker.name%></h2>

        <p>Story :<%= @sneaker.description %></p>
        <p>Brand :<%= @sneaker.brand %></p>
        <p>Price : £ <%= @sneaker.price_per_sneaker %></p>
        <p>Size UK :<%= @sneaker.size %></p>
        <%= link_to "Delete sneaker", sneaker_path(@sneaker), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
