<div class="container">
  <div class="back-to d-flex">
    <% if controller_name == "sneakers"  %>
      <%= link_to "Back to all snks >", sneakers_path, class: "backto" %>
      <%= link_to "Go to your rack >", current_user, class: "backto" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="col-12">
        <div class="d-flex show-content">
          <div class="d-flex justify-content-center img-show-div">
            <%= cl_image_tag @sneaker.photo, class: "animated fadeInLeft slow img-show" %>
          </div>
          <div class="description-stockx text-center d-flex align-center">
            <h2><%= @sneaker.name%></h2>
            <p><%= @sneaker.description %></p>
            <p><%= @sneaker.brand %></p>
            <p>£<%= @sneaker.price_per_sneaker %></p>
            <p>UK <%= @sneaker.size %></p>
            <p>@<%= @sneaker.user.username %></p>
            <%= link_to "StockX", @sneaker.link, class:"btn-stockx" %>
          </div>
        </div>
        <div class="buttons-show d-flex justify-content-around">
          <% if policy(@sneaker).update? %>
            <%= link_to edit_sneaker_path do %>
              <div class= "btn btn-show-last">
                Edit SNK
              </div>
            <% end %>
          <% end %>
          <% if policy(@sneaker).destroy? %>
            <%= link_to sneaker_path(@sneaker), method: :delete, data: { confirm: "Are you sure?" } do %>
              <div class= "btn btn-show-last">
                Delete SNK
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
