<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sneakerack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="cover-container d-flex w-100 h-100  mx-auto flex-column">
    <header class= "masthead mb-3">
      <%= render 'shared/navbar' %>
    </header>
    <main role="main" class="inner cover">
      <%= yield %>
    </main>
    <footer class= "mastfoot mt-auto">
      <%= render 'shared/footer' %>
    </footer>
  </div>
  <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
